{
  "arrowParens": "always",
  "attributeGroups": [
    "^\\[style\\..*]$",
    "^\\[class\\..*]$",
    "^\\[ngStyle\\]$",
    "^\\[ngClass\\]$",
    "^style$",
    "^class$",
    "$ANGULAR_INPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_OUTPUT",
    "$DEFAULT"
  ],
  "attributeSort": "ASC",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/styles.css",
  "trailingComma": "all",
  "useTabs": false
}