<div class="w-page flex h-page-h flex-col sm:h-sm-page-h">
  <div class="flex grow gap-4">
    <div class="flex w-full items-center justify-center">
      <form class="form-box w-full max-w-80 grid-cols-1" [formGroup]="fg" (ngSubmit)="onLogin()">
        <img
          class="mx-auto h-14 w-auto shrink-0"
          alt="Logo_Lockup"
          height="56"
          src="Logo_Lockup.png"
          width="auto"
        />

        <!-- 帳號 account -->
        <mat-form-field class="col-span-1">
          <mat-label>帳號</mat-label>
          <input
            [formControl]="fcs['account']"
            [readonly]="loggingIn"
            autocomplete="username"
            inputmode="text"
            matInput
            maxlength="64"
            placeholder="輸入帳號"
            required
            type="text"
          />

          <mat-icon matPrefix>person</mat-icon>

          @if (fcs['account'].hasError('required')) {
            <mat-error>請輸入帳號</mat-error>
          }
        </mat-form-field>

        <!-- 密碼 password -->
        <mat-form-field class="col-span-1">
          <mat-label>密碼</mat-label>
          <input
            [formControl]="fcs['password']"
            [readonly]="loggingIn"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
            inputmode="text"
            matInput
            placeholder="輸入密碼"
            required
          />

          <mat-icon matPrefix>key</mat-icon>

          <button
            class="mr-2"
            [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
            (click)="showPassword = !showPassword"
            matIconButton
            matSuffix
            tabIndex="-1"
            type="button"
          >
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>

          @if (fcs['password'].hasError('required')) {
            <mat-error>請輸入密碼</mat-error>
          }
        </mat-form-field>

        <button class="relative col-span-1" [disabled]="loggingIn" matButton="filled" type="submit">
          <span [class.invisible]="loggingIn">登入</span>
          @if (loggingIn) {
            <div class="spinner">
              <mat-spinner diameter="24"></mat-spinner>
            </div>
          }
        </button>

        <div class="col-span-1 my-4">
          <p class="text-gray text-center text-xs">沒有帳號嗎？</p>
          <button
            class="w-full"
            [disabled]="loggingIn"
            [routerLink]="['/signup']"
            matButton="tonal"
            type="button"
          >
            註冊
          </button>
        </div>

        <div class="col-span-1 flex items-center opacity-50">
          <mat-divider class="w-1/2"></mat-divider>
          <span class="px-2">或</span>
          <mat-divider class="w-1/2"></mat-divider>
        </div>

        <button
          class="col-span-1"
          [disabled]="loggingIn"
          (click)="onSkipLogin()"
          matButton
          type="button"
        >
          以訪客身份繼續
        </button>
      </form>
    </div>

    <div class="hidden w-full bg-primary/15 md:block"></div>
  </div>

  <app-footer></app-footer>
</div>
