@if ({ locale: locale$ | async, settings: messageSettings$ | async }; as inputs) {
  <div class="relative flex h-full flex-col">
    <div
      #box
      [ngClass]="reverseOrder ? 'flex-col-reverse' : 'flex-col'"
      class="scrollbar-hidden flex h-full snap-y snap-proximity overflow-y-auto scroll-auto"
    >
      @if (reverseOrder) {
        <span class="grow"></span>
      }
      @for (x of chatLogs; track x.mid) {
        <!-- TODO: owner -->
        <app-message
          class="snap-start"
          [hasTwoSides]="false"
          [last]="$last"
          [locale]="inputs.locale!"
          [opposite]="false"
          [owner]="'ta.motc.001'"
          [settings]="inputs.settings!"
          [x]="x"
        ></app-message>
      }
    </div>
  </div>
}

<!-- TODO: 切換 autoScroll 快捷按鈕 -->
