@if (b.queries$ | async; as queries) {
  <div class="absolute top-0 right-0 bottom-0 left-0 flex flex-col">
    <header class="z-10">
      <mat-toolbar class="fixed sm:static">
        <div class="w-page flex items-center">
          <div class="flex w-full">
            <button (click)="sidenav.toggle()" matIconButton type="button">
              <mat-icon>menu</mat-icon>
            </button>

            <span class="grow"></span>
          </div>

          <img
            class="h-14 w-auto shrink-0"
            alt="Logo_Lockup"
            height="56"
            src="Logo_Lockup.png"
            width="auto"
          />

          <div class="flex w-full">
            <span class="grow"></span>

            <app-theme-switch class="mr-2"></app-theme-switch>
            <app-lang-switch></app-lang-switch>
          </div>
        </div>
      </mat-toolbar>
    </header>

    <mat-sidenav-container
      class="mt-[56px] shrink-0 grow basis-auto sm:mt-0 sm:shrink sm:grow sm:basis-0"
    >
      <mat-sidenav
        #sidenav
        class="w-80 pb-12"
        [fixedInViewport]="!queries.MD"
        [fixedTopGap]="queries.MD ? 0 : queries.SM ? 64 : 56"
        [mode]="queries.MD ? 'side' : 'over'"
        [opened]="queries.MD"
      >
        <mat-nav-list class="mx-2 h-full overflow-y-auto">
          <!-- 首頁 -->
          <mat-list-item
            #rla0="routerLinkActive"
            class="w-full px-2"
            [activated]="rla0.isActive"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            [title]="'SITEMAP.HOME' | translate"
            routerLinkActive
          >
            <div class="flex items-center" matListItemTitle>
              <div class="flex h-10 w-10 shrink-0 items-center justify-center">
                <mat-icon [class.text-primary]="rla0.isActive">home</mat-icon>
              </div>

              <span [class.text-primary]="rla0.isActive" class="grow truncate">
                {{ 'SITEMAP.HOME' | translate }}
              </span>
            </div>
          </mat-list-item>

          <!-- 個人頁面 -->
          <mat-list-item
            #rla1="routerLinkActive"
            class="w-full px-2"
            [activated]="rla1.isActive"
            [routerLink]="['/user']"
            routerLinkActive
            title="個人頁面"
          >
            <div class="flex items-center" matListItemTitle>
              <div class="flex h-10 w-10 shrink-0 items-center justify-center">
                <mat-icon [class.text-primary]="rla1.isActive">face</mat-icon>
              </div>

              <span [class.text-primary]="rla1.isActive" class="grow truncate"> 個人頁面 </span>
            </div>
          </mat-list-item>
        </mat-nav-list>

        <div
          class="absolute right-0 bottom-0 left-0 z-10 mx-2 flex h-12 items-center px-2"
          title="發起會議"
        >
          @if (loggedIn$ | async) {
            <!-- 會員登出 -->
            <button
              class="mr-2 shadow-none"
              (click)="onLogout()"
              matMiniFab
              matTooltip="會員登出"
              type="button"
            >
              <mat-icon>logout</mat-icon>
            </button>
          } @else {
            <!-- 會員登入 -->
            <button
              class="mr-2 shadow-none"
              [routerLink]="['/login']"
              matMiniFab
              matTooltip="會員登入"
              type="button"
            >
              <mat-icon>person</mat-icon>
            </button>
          }

          @if (isHost$ | async) {
            <!-- 發起會議 -->
            <button
              class="grow"
              [routerLink]="['/start-a-meeting']"
              matButton="filled"
              type="button"
            >
              <mat-icon>add</mat-icon>

              發起會議
            </button>
          }
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <main class="w-page px-4">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
}
