<mat-toolbar class="fixed top-2 right-0 left-0 bg-transparent">
  <div class="w-page flex">
    <button (click)="onClose()" matIconButton type="button">
      <mat-icon>close</mat-icon>
    </button>

    <span class="grow"></span>

    <button
      [disabled]="pickedFC.invalid"
      [matBadge]="pickedFC.value.length || undefined"
      (click)="onPick()"
      matButton="filled"
      type="button"
    >
      確認
    </button>
  </div>
</mat-toolbar>

<div [style.height]="listHeight$ | async" class="mt-14 overflow-auto sm:mt-16">
  <mat-selection-list
    #selectionList
    [compareWith]="compareWith"
    [formControl]="pickedFC"
    [multiple]="data.multiple"
  >
    @for (item of itemList$ | async; track $index) {
    <mat-list-option [value]="item" togglePosition="before"
      ><span matListItemTitle>{{ item | i18nSelect: allRLangNameMap }}</span></mat-list-option
    >
    }
  </mat-selection-list>
</div>
