<button
  [matMenuTriggerFor]="themeMenu"
  [matTooltip]="'COMPONENTS.THEME_SWITCH' | translate"
  mat-icon-button
  type="button"
>
  <mat-icon>contrast</mat-icon>
</button>

<mat-menu #themeMenu="matMenu">
  @for (item of themeMenuItemList; track $index) {
  <button
    [class.activated]="item.value === th.currentTheme"
    (click)="onSelectTheme(item.value)"
    mat-menu-item
    type="button"
  >
    <mat-icon
      [class.text-primary]="item.value === th.currentTheme"
      [fontIcon]="item?.isSvgIcon ? '' : item.icon"
      [svgIcon]="item?.isSvgIcon ? item.icon : ''"
    ></mat-icon>
    <span>{{ item.label | translate }}</span>
  </button>
  }
</mat-menu>
