<div class="w-page flex h-page-h flex-col sm:h-sm-page-h">
  <div class="flex grow gap-4">
    <div class="flex w-full items-center justify-center">
      <form class="form-box w-full max-w-80 grid-cols-1" [formGroup]="fg" (ngSubmit)="onSignup()">
        <!-- 帳號 (電郵地址) account -->
        <mat-form-field class="col-span-1">
          <mat-label>帳號 (電郵地址)</mat-label>
          <input
            [formControl]="fcs['account']"
            autocomplete="username"
            inputmode="text"
            matInput
            maxlength="64"
            minlength="8"
            placeholder="輸入帳號 (電郵地址)"
            required
            type="text"
          />

          <mat-icon matPrefix>person</mat-icon>

          <mat-hint align="end">{{ fcs['account'].value.length }} / 64</mat-hint>

          @if (fcs['account'].hasError('required')) {
            <mat-error>請輸入帳號 (電郵地址)</mat-error>
          } @else if (fcs['account'].hasError('minlength')) {
            <mat-error>帳號最小長度為 6 個字元</mat-error>
          } @else if (fcs['account'].hasError('email')) {
            <mat-error>電郵地址格式有誤</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-span-1">
          <mat-label>手機號碼</mat-label>
          <input
            [formControl]="fcs['phone']"
            inputmode="tel"
            matInput
            placeholder="輸入手機號碼"
            required
            type="tel"
          />

          <span class="pr-1" matTextPrefix>+886</span>

          @if (fcs['phone'].hasError('required')) {
            <mat-error>請輸入手機號碼</mat-error>
          } @else if (fcs['phone'].hasError('pattern')) {
            <mat-error>手機號碼格式有誤</mat-error>
          }
        </mat-form-field>

        <!-- 密碼 password -->
        <mat-form-field class="col-span-1">
          <mat-label>密碼</mat-label>
          <input
            [formControl]="fcs['password']"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
            inputmode="text"
            matInput
            placeholder="輸入密碼"
            required
          />

          <mat-icon matPrefix>key</mat-icon>

          <button
            class="mr-2"
            [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
            (click)="showPassword = !showPassword"
            matIconButton
            matSuffix
            tabIndex="-1"
            type="button"
          >
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>

          @if (fcs['password'].hasError('required')) {
            <mat-error>請輸入密碼</mat-error>
          } @else if (fcs['password'].hasError('minlength')) {
            <mat-error>密碼最小長度為 6 個字元</mat-error>
          } @else if (fcs['password'].hasError('pattern')) {
            <mat-error>密碼格式有誤</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-span-1">
          <mat-label>確認密碼</mat-label>
          <input
            [errorStateMatcher]="passwordMatchErrorStateMatcher"
            [formControl]="fcs['confirmPassword']"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="off"
            inputmode="text"
            matInput
            placeholder="再次輸入密碼"
            required
            type="text"
          />

          <mat-icon matPrefix>key</mat-icon>

          <button
            class="mr-2"
            [matTooltip]="showPassword ? '隱藏密碼' : '顯示密碼'"
            (click)="showPassword = !showPassword"
            matIconButton
            matSuffix
            tabIndex="-1"
            type="button"
          >
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>

          @if (fcs['confirmPassword'].hasError('required')) {
            <mat-error>請再次輸入密碼</mat-error>
          }
          @if (fg.hasError('passwordMatch')) {
            <mat-error>前後密碼不一致，請重新輸入</mat-error>
          }
        </mat-form-field>

        <div class="col-span-1">
          <p class="text-gray mb-1 text-center text-xs">
            點擊「<span>註冊</span>」即表示您同意我們的《<a class="link" [routerLink]="[]"
              >服務條款</a
            >》和《<a class="link" [routerLink]="[]">隱私權政策</a>》。
          </p>
          <button class="w-full" matButton="filled" type="submit">註冊</button>
        </div>

        <div class="col-span-1 my-4">
          <p class="text-gray mb-1 text-center text-xs">已經有帳號嗎？</p>
          <button class="w-full" [routerLink]="['/login']" matButton="tonal" type="button">
            登入
          </button>
        </div>
      </form>
    </div>

    <div class="hidden w-full bg-primary/15 md:block"></div>
  </div>

  <app-footer></app-footer>
</div>
