@use '@angular/material' as mat;
@use './theme-colors';

html.dark {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: 'Roboto, "Noto Sans TC", "Noto Sans JP", "Noto Sans KR", sans-serif',
      density: 0,
    )
  );
}
