<div class="h-dvh">
  <div class="w-page flex h-full flex-col">
    <div class="flex grow">
      <div class="w-0 bg-blue-500/15 md:w-1/2"></div>

      <div class="flex w-full items-center justify-center md:w-1/2">
        <form
          class="form-box m-4 w-full max-w-80 grid-cols-1"
          [formGroup]="fg"
          (ngSubmit)="onLogin()"
        >
          <!-- 帳號 account -->
          <mat-form-field class="col-span-1">
            <mat-label>帳號</mat-label>
            <input
              [formControl]="fcs['account']"
              autocomplete="username"
              inputmode="text"
              matInput
              maxlength="64"
              placeholder="輸入帳號"
              required
              type="text"
            />

            <mat-icon matPrefix>person</mat-icon>

            @if (fcs['account'].hasError('required')) {
              <mat-error>請輸入帳號</mat-error>
            }
          </mat-form-field>

          <!-- 密碼 password -->
          <mat-form-field class="col-span-1">
            <mat-label>密碼</mat-label>
            <input
              [formControl]="fcs['password']"
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="current-password"
              inputmode="text"
              matInput
              placeholder="輸入密碼"
              required
            />

            <mat-icon matPrefix>key</mat-icon>

            @if (fcs['password'].hasError('required')) {
              <mat-error>請輸入密碼</mat-error>
            }
          </mat-form-field>

          <button class="col-span-1" matButton="filled" type="submit">登入</button>

          <div class="col-span-1 my-4">
            <div class="text-center">沒有帳號嗎？</div>
            <button class="w-full" matButton="tonal" type="button">註冊</button>
          </div>

          <div class="col-span-1 flex items-center opacity-50">
            <mat-divider class="w-1/2"></mat-divider>
            <span class="px-2">或</span>
            <mat-divider class="w-1/2"></mat-divider>
          </div>

          <button class="col-span-1" matButton type="button">以訪客身份繼續</button>
        </form>

        <!-- TODO -->
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
