<div class="grid h-page-h grid-cols-2 gap-4 sm:h-sm-page-h">
  <div class="col-span-2 flex flex-col items-center justify-center md:col-span-1">
    <div class="m-auto w-full max-w-100">
      <div class="my-4 text-4xl font-thin">適合所有人使用的即時語音翻譯和導覽服務</div>

      <div class="text-gray mb-8 text-xl font-thin">
        解決語別限制及翻譯不便等問題，讓外籍旅客輕鬆暢遊臺灣，實踐「智慧科技島．數位新社會」的願景
      </div>

      <div class="flex grow items-start">
        <mat-form-field class="mr-2 w-full">
          <input
            inputmode="text"
            matInput
            maxlength="6"
            placeholder="輸入會議代碼"
            required
            type="text"
            value="123456"
          />

          <mat-icon matPrefix>keyboard</mat-icon>

          <button
            class="mr-2 shadow-none"
            [routerLink]="['/meeting']"
            matMiniFab
            matSuffix
            matTooltip="加入"
            type="button"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>

        <button
          class="shadow-none"
          [routerLink]="['/meeting']"
          matFab
          matTooltip="掃描 QR code"
          type="button"
        >
          <mat-icon>qr_code</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="col-span-2 bg-primary/15 md:col-span-1"></div>
</div>
