<header class="z-10">
  <mat-toolbar class="fixed top-0 right-0 left-0">
    <div class="w-page flex items-center">
      <div class="flex w-full">
        <button (click)="onStopRecorder()" matIconButton matTooltip="離開會議" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <span class="grow"></span>
      </div>

      <!-- TODO: room name & code -->
      <span class="grow font-mono">{{ code }}</span>

      <div class="flex w-full">
        <span class="grow"></span>

        <app-theme-switch></app-theme-switch>

        <app-lang-switch></app-lang-switch>

        <!-- TODO: view QR code / room code & view participants -->
      </div>
    </div>
  </mat-toolbar>
</header>

<div
  [ngClass]="ready ? 'py-[56px] sm:py-[64px]' : 'pt-[56px] sm:pt-[64px]'"
  class="h-dvh bg-primary/15"
  (dblclick)="mock($event)"
>
  <!-- TODO: 確認 logo 擺放大小和位置 -->
  <div class="w-page relative h-full bg-white dark:bg-black">
    <img
      class="absolute top-0 left-0 mr-auto h-14 w-auto shrink-0 opacity-50"
      alt="Logo_Lockup"
      height="56"
      src="Logo_Lockup.png"
      width="auto"
    />

    <img
      class="absolute right-0 bottom-0 ml-auto h-14 w-auto shrink-0 opacity-50"
      alt="Logo_Lockup"
      height="56"
      src="Logo_Lockup.png"
      width="auto"
    />

    @if (ready) {
      <app-single-sided [chatLogs]="(chatLogs$ | async)!"></app-single-sided>
    } @else {
      <app-waiting-area
        [disabled]="!(rec.initialized$ | async)"
        (ready)="onStartRecorder()"
      ></app-waiting-area>
    }
  </div>
</div>

@if (ready) {
  <div class="z-10">
    <mat-toolbar class="fixed right-0 bottom-0 left-0 touch-manipulation">
      <div class="w-page flex items-center">
        <div class="flex w-full">
          <button class="mr-2" matIconButton type="button">
            <mat-icon>waving_hand</mat-icon>
          </button>

          <span class="grow"></span>
        </div>

        <span class="grow"></span>

        <div class="flex w-full">
          <span class="grow"></span>

          <button matIconButton type="button">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>
}

@if (joining) {
  <div class="blocking spinner bg-black/5" appStopClickPropagation>
    <mat-spinner diameter="64"></mat-spinner>
  </div>
}
