<header class="z-10">
  <mat-toolbar class="fixed top-0 right-0 left-0">
    <div class="w-page flex items-center">
      <div class="flex w-full">
        <button (click)="onStopRecorder()" matIconButton type="button">
          <mat-icon>close</mat-icon>
        </button>

        <span class="grow"></span>
      </div>

      <span class="grow"></span>

      <div class="flex w-full">
        <span class="grow"></span>

        <button matIconButton type="button">
          <mat-icon>group</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>

<div class="h-dvh py-[56px] sm:py-[64px]" (dblclick)="mock($event)">
  <div class="w-page flex h-full flex-col">
    <div class="grow bg-primary/15">
      <app-single-sided [chatLogs]="(chatLogs$ | async)!"></app-single-sided>
    </div>
  </div>
</div>

<div class="z-10">
  <mat-toolbar class="fixed right-0 bottom-0 left-0 touch-manipulation">
    <div class="w-page flex items-center">
      <div class="flex w-full">
        <button class="mr-2" matIconButton type="button">
          <mat-icon>waving_hand</mat-icon>
        </button>

        <span class="grow"></span>
      </div>

      <span class="grow"></span>

      <div class="flex w-full">
        <span class="grow"></span>

        <button matIconButton type="button">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>

@if (joining) {
  <div class="blocking spinner" appStopClickPropagation>
    <mat-spinner diameter="64"></mat-spinner>
  </div>
}

<!-- <button
  class="mr-2"
  [disabled]="!(rec.initialized$ | async)"
  (click)="onStartRecorder()"
  matButton="filled"
  type="button"
>
  Start
</button> -->
