<div class="flex h-full items-center justify-center gap-4">
  <form class="form-box w-full max-w-80 grid-cols-1" [formGroup]="fg" (ngSubmit)="onReady()">
    <!-- 顯示暱稱 -->
    <mat-form-field class="col-span-1">
      <mat-label>顯示暱稱</mat-label>
      <input
        class="truncate"
        [formControl]="fcs['nickname']"
        inputmode="text"
        matInput
        maxlength="64"
        placeholder="輸入顯示暱稱"
        required
        type="text"
      />

      <button
        class="mr-2 shadow-none"
        (click)="setRandomNickname()"
        matMiniFab
        matSuffix
        matTooltip="隨機"
        type="button"
      >
        <mat-icon>casino</mat-icon>
      </button>

      <mat-hint align="start">#{{ fcs['userCode'].value }}</mat-hint>
      <mat-hint align="end">{{ fcs['nickname'].value.length }} / 64</mat-hint>

      @if (fcs['nickname'].hasError('required')) {
        <mat-error>請輸入顯示暱稱</mat-error>
      }
    </mat-form-field>

    <button class="m-auto mt-8" [disabled]="disabled" matButton="filled" type="submit">
      加入會議
    </button>
  </form>
</div>
