@import 'tailwindcss' important;
@source inline("bg-red-500 text-white");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* breakpoint */
  --breakpoint-sm: 600px; /* 37.5rem */
  --breakpoint-md: 960px; /* 60rem */
  --breakpoint-lg: 1280px; /* 80rem */
  --breakpoint-xl: 1920px; /* 120rem */

  /* color */
  --color-primary: var(--mat-sys-primary);
  --color-primary-100: #3c0800;
  --color-primary-200: #611300;
  --color-primary-300: #891e00;
  --color-primary-400: #b32a00;
  --color-primary-500: #db3d0f;
  --color-primary-600: #ff5629;
  --color-primary-700: #ff8b6d;
  --color-primary-800: #ffb4a1;
  --color-primary-900: #ffdbd2;
  /* TODO: colors */
  --color-light: #f5f5f5;
  --color-lighter: #fafafa;
  --color-lightest: #ffffff;
  --color-dark: #424242;
  --color-darker: #303030;
  --color-darkest: #212121;

  /* font-weight */
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  /* spacing */
  --spacing-100: 25rem; /* 400px */
  --spacing-page-h: calc(100dvh - 56px);
  --spacing-sm-page-h: calc(100dvh - 64px);
  --spacing-picker-h: calc(100% - 56px);
  --spacing-sm-picker-h: calc(100% - 64px);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:
    Roboto,
    Noto Sans TC,
    Noto Sans JP,
    Noto Sans KR,
    sans-serif;
}

* {
  scrollbar-width: thin;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hidden {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* page */
.w-page {
  @apply m-auto w-full max-w-7xl;
}

/* spinner */
.spinner-box {
  @apply relative box-border min-h-60 w-full;
}
.spinner {
  @apply absolute top-0 right-0 bottom-0 left-0 z-10 flex cursor-progress items-center justify-center;
}
.blocking.spinner {
  @apply fixed;
}

/* form */
.form-box {
  @apply grid auto-rows-min gap-4;
}

/* activated */
.activated {
  @apply bg-primary/15 text-primary;
}

.link {
  @apply underline-offset-2 hover:underline;
}

.text-gray {
  @apply text-gray-700 dark:text-gray-300;
}
.border-gray {
  @apply border-gray-700 dark:border-gray-300;
}

/* adjustments for @angular/material */
/* button */
button[maticonbutton] {
  @apply leading-none;
}

/* card */
.mat-mdc-card {
  @apply rounded-2xl;
}

/* form-field */
.mdc-notched-outline__notch {
  border-right-width: 0 !important;
}
mat-form-field .mdc-notched-outline > .mdc-notched-outline__leading {
  @apply rounded-tl-2xl rounded-bl-2xl;
}
mat-form-field .mdc-notched-outline > .mdc-notched-outline__trailing {
  @apply rounded-tr-2xl rounded-br-2xl;
}

/* snack-bar */
mat-snack-bar-container.info mat-icon {
  @apply text-gray-400;
}
mat-snack-bar-container.info .mdc-linear-progress__bar-inner {
  @apply border-gray-400;
}
mat-snack-bar-container.success mat-icon {
  @apply text-green-500;
}
mat-snack-bar-container.success .mdc-linear-progress__bar-inner {
  @apply border-green-500;
}
mat-snack-bar-container.error mat-icon {
  @apply text-red-500;
}
mat-snack-bar-container.error .mdc-linear-progress__bar-inner {
  @apply border-red-500;
}
