@import 'tailwindcss' important;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* breakpoint */
  --breakpoint-sm: 600px; /* 37.5rem */
  --breakpoint-md: 960px; /* 60rem */
  --breakpoint-lg: 1280px; /* 80rem */
  --breakpoint-xl: 1920px; /* 120rem */

  /* color */
  --color-primary: var(--mat-sys-primary);
  --color-primary-100: #3c0800;
  --color-primary-200: #611300;
  --color-primary-300: #891e00;
  --color-primary-400: #b32a00;
  --color-primary-500: #db3d0f;
  --color-primary-600: #ff5629;
  --color-primary-700: #ff8b6d;
  --color-primary-800: #ffb4a1;
  --color-primary-900: #ffdbd2;

  --color-error: #ba1a1a;

  /* font-weight */
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  /* spacing */
  --spacing-100: 25rem; /* 400px */
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:
    Roboto,
    Noto Sans TC,
    Noto Sans JP,
    Noto Sans KR,
    sans-serif;
}

* {
  scrollbar-width: thin;
}

/* page */
.w-page {
  @apply m-auto w-full max-w-7xl;
}

/* form */
.form-box {
  @apply grid auto-rows-min gap-4;
}

/* activated */
.activated {
  @apply bg-primary/15 text-primary;
}

.link {
  @apply underline-offset-2 hover:underline;
}

.text-gray {
  @apply text-gray-700 dark:text-gray-300;
}
.border-gray {
  @apply border-gray-700 dark:border-gray-300;
}

/* adjustments for @angular/material */
/* button */
button[maticonbutton] {
  @apply leading-none;
}

/* card */
.mat-mdc-card {
  @apply rounded-2xl;
}

/* form-field */
.mdc-notched-outline__notch {
  border-right-width: 0 !important;
}
mat-form-field .mdc-notched-outline > .mdc-notched-outline__leading {
  @apply rounded-tl-2xl rounded-bl-2xl;
}
mat-form-field .mdc-notched-outline > .mdc-notched-outline__trailing {
  @apply rounded-tr-2xl rounded-br-2xl;
}
